git+https://github.com/THU-MIG/yoloe.git#subdirectory=third_party/CLIP
git+https://github.com/THU-MIG/yoloe.git#subdirectory=third_party/ml-mobileclip
git+https://github.com/THU-MIG/yoloe.git#subdirectory=third_party/lvis-api
git+https://github.com/THU-MIG/yoloe.git
torch>=2.0.0
numpy>=1.22.0
opencv-python>=4.5.0
Pillow>=8.0.0 